<div class="p-4">
  <div class="container text-center">
    <h1>Angular 11 - Template</h1>

    <!-- <app-video-player
      [options]="{
        autoplay: true,
        controls: true,
        sources: [
          {
            src: 'https://vqx2bsdz-8096.use.devtunnels.ms/videos/9a617301f696372c1a6899137c1d3af3/stream?container=mp4&DeviceId=TW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzExNi4wLjAuMCBTYWZhcmkvNTM3LjM2fDE2OTU3NjEyNTA4NDQ1&MediaSourceId=9a617301f696372c1a6899137c1d3af3&VideoCodec=h264,h264&AudioCodec=aac&AudioStreamIndex=1&VideoBitrate=292000&AudioBitrate=128000&AudioSampleRate=48000&MaxFramerate=29.97003&PlaySessionId=e6346dfd624b4d8eb5b145ae8f9b86c0&api_key=1c83cc5a433344dd8824e37568f24aa8&SubtitleMethod=Encode&TranscodingMaxAudioChannels=2&RequireAvc=false&Tag=2c566316aefcea868d4f764c36b168f0&SegmentContainer=ts&MinSegments=1&BreakOnNonKeyFrames=True&h264-level=41&h264-videobitdepth=8&h264-profile=main&h264-audiochannels=2&aac-profile=lc&h264-rangetype=SDR&h264-deinterlace=true&TranscodeReasons=ContainerBitrateExceedsLimit&runtimeTicks=30000000&actualSegmentLengthTicks=30000000',
            type: 'video/mp4'
          }
        ]
      }"
    ></app-video-player> -->
  </div>
</div>
